# Entorno virtual y caché
venv/
Backend/venv/
__pycache__/
Backend/__pycache__/
Backend/routers/__pycache__/
*.pyc

# Configuración y secretos (Muy importante para producción)
.env
.env.development
.env.production
Backend/.env
Frontend/.env
Backend/ca.pem

# Datos del usuario y cargas locales
excels/
Backend/excels/
Backend/historial/
Backend/visitas.txt

# Node / Frontend build
node_modules/
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/

# Logs y temporales
*.log
logs/
.vscode/
.idea/
.DS_Store
