.titulo {
    color: var(--text-main);
    font-Size: 1.6rem;
    letter-Spacing: 3px;
    text-Transform: uppercase;
    margin-Top: 0px;
    margin-Bottom: 15px;
}
.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
}

.logo-inicio {
  /* En lugar de width: 500px, usamos esto: */
  width: 100%;           /* Ocupa el ancho disponible */
  max-width: 350px;      /* Pero no te pases de 250px en pantallas grandes */
  
  height: auto;
  margin-bottom: 2rem;
  animation: latido 3s infinite ease-in-out;
  
  /* Esto ayuda a que si la pantalla es muy pequeña, no toque los bordes */
  padding: 0 20px; 
  box-sizing: border-box;

  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
  transition: filter 0.3s ease;
}

html.dark .logo-inicio {
  filter: drop-shadow(0px 10px 20px rgba(255, 255, 255, 0.15));
} 

@media (max-width: 950px) {
  .inicio-container {
    height: 80vh; /* Un poco más alto en móviles si es necesario */
  }
}